:root {
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;
}

a {
  text-decoration: none;
  color: black;
}
html {
  font-style: "Roboto";
  box-sizing: border-box;
}

.api-content {
  width: 100vw;
  height: 100vh;
  display: grid;
  place-items: center;
}

button,
link,
a {
  cursor: pointer;
}

button {
  padding: 5px;
  background-color: rgb(76, 143, 187);
  border: none;
  outline: none;
  color: white;
  border-radius: 4px;
  letter-spacing: 0.4px;
}

/* custom scrollbar */
::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #909799;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf;
}

@media (prefers-color-scheme: dark) {
}

* {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}
