.main {
  display: grid;
  width: 100vw;
  height: 100vh;
  place-items: center;
}

.main-container {
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10%;
}

.first-container {
  width: 312px;
  height: 454px;
  border-radius: 28px;
  background-color: #ece6f0;
}

.first-container-upper-section {
  height: 196px;
  display: grid;
  justify-content: space-between;
  padding: 12px 24px;
  box-sizing: border-box;
}

.first-container-upper-section h2 {
  font-size: 24px;
  line-height: 32px;
  font-weight: 400;
}

.first-container-upper-section div {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.25px;
  color: #49454f;
  font-weight: 300;
}

.first-container-middle-section {
  height: 170px;
  padding: 0 24px;
  box-sizing: border-box;
  overflow-y: auto;
}

.first-container-middle-section-list {
  display: flex;
  gap: 12px;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0.6px solid #cac4d0;
  padding: 8px 24px 8px 16px;
}

.first-container-middle-section-list:last-child {
  border-bottom: none;
}

.first-container-middle-section-list-first-div {
  display: flex;
  gap: 20px;
  align-items: center;
}

.first-container-middle-section-list-first-div-avatar {
  border-radius: 50%;
  background-color: #eaddff;
  display: grid;
  place-items: center;
  width: 40px;
  height: 40px;
  color: #21005d;
  font-weight: 600;
}

.first-container-middle-section-list-first-div-title {
  size: 16px;
  line-height: 24px;
  letter-spacing: 0.5px;
}

.first-container-middle-section-list-second-div {
  display: flex;
  align-items: center;
  width: 61px;
  height: 24px;
  justify-content: space-between;
}

.first-container-middle-section-list-second-div-rate {
  font-weight: 500;
  font-size: 11px;
  line-height: 16px;
  letter-spacing: 0.5px;
  color: #49454f;
}

input[type="checkbox"] {
  accent-color: #6750a4;
}

.first-container-lower-section {
  height: 88px;
  display: flex;
  gap: 20px;
  justify-content: flex-end;
  align-items: center;
  box-sizing: border-box;
  color: #6750a4;
  padding: 24px;
}

.second-container {
  background-color: #d9d9d9;
  width: 417px;
  display: grid;
  place-items: center;
  height: 397px;
}

.second-container-main-div {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  width: 82%;
  height: 82%;
  overflow-y: auto;
  justify-content: space-between;
  align-content: space-between;
}

.second-container-main-div-units {
  width: 143px;
  height: 137px;
  background-color: #ffe3e3;
  display: grid;
  place-items: center;
  color: #6750a4;
}

@media only screen and (max-width: 1200px) {
  .main-container {
    width: 75%;
    margin-top: 2rem;
  }

  .second-container {
    width: 25rem;
    height: 24rem;
  }

  .second-container-main-div-units {
    width: 8.8rem;
    height: 8.5rem;
  }
}

@media only screen and (max-width: 1150px) {
  .main-container {
    width: 80%;
    gap: 5rem;
    margin-top: 5rem;
    overflow-y: auto;
  }

  .second-container {
    width: 20rem;
    height: 18rem;
    margin-bottom: 5rem;
  }

  .second-container-main-div-units {
    width: 7rem;
    height: 5.8rem;
  }
}

@media only screen and (max-width: 768px) {
  .main-container {
    width: 85%;
  }

  .main-container {
    gap: 4rem;
  }
}


@media only screen and (max-width: 335px) {
  .second-container-main-div {
   justify-content: center;
  }
}